@model FamilyFinance.Models.ViewModel.HomeIndex
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";        
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Family Finances - Keep track of all your family financaes in one place. 
                Avaliable to all family members, across all their devices (well, web and android..)
            </p>
        </div>
    </section>
}
<h3>Account Summary</h3>
<ol class="round">
@foreach(var account in Model.Accounts)
{
    <li class="one">
        <h4>@account.name: @account.balance</h4>        
    </li>
}
</ol>